body {
  font-family: sans-serif;
  background-color: #e0faff;
}

h1 {
  color: #00aacc;
}

a {
  color: #0088a3;
}

button {
  background-color: #0088a3;
  border-radius: 0.2rem;
  border-style: none;
  color: #e0faff;
  cursor: pointer;
  font-size: 1rem;
}

.my-photo {
  width: 100%;
  max-width: 720px;
  border-radius: 1rem;
}

.footer {
  font-size: 0.8rem;
}
